{% extends "layout.html" %}
{% block body %}
    <p class="alert alert-warning">
      <strong>Notice!</strong> You can't reset passwords and emails aren't being
      verified because I have to find a new <code>smtp</code> provider. Gmail no
      longer seems to be an option. Everything should work still, nonetheless!
    </p>
    <h2>urlink: save &amp; search ur links</h2>
    <p>Just your links; no fluff, no hassle.</p>
    <p>Instantly search ur links which only you can see.</p>
    <p>All you need is an email address, <a href="{{ url_for('user.register') }}">register now</a>.</p>
    <p>
      <a href="https://github.com/lily-seabreeze/urlink">urlink GitHub repo</a>; software by
      <a href="http://lily.seabreeze.pro/">Lily Seabreeze</a>.
    </p>
{% endblock %}
