<!DOCTYPE html>
<html>
<head>
  <title>urlink: remember ur links</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='overrides.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <label for="navbar-toggle-cbox" class="navbar-toggle collapsed" data-toggle="collapse" data-target="navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </label>
      <a class="navbar-brand" href="{{ url_for('home_page') }}">urlink</a>
    </div>
    <input type="checkbox" id="navbar-toggle-cbox">

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home_page') }}" title="Home"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('ur_links') }}" title="Ur links!"><span class="glyphicon glyphicon-link"></span></a>
        </li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user.logout') }}">Logout</a>
          </li>
          <li>
            <div class="btn-nav">
              <a href="{{ url_for('add_url') }}" class="btn btn-primary btn-small navbar-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add URL</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user.login') }}">Login</a>
          </li>
          <li>
            <div class="btn-nav">
              <a href="{{ url_for('user.register') }}" class="btn btn-primary btn-small navbar-btn">Register</a>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<main class="container-fluid">

{# One-time system messages called Flash messages #}
{% block flash_messages %}
    {%- with messages = get_flashed_messages(with_categories=true) -%}
        {% if messages %}
            {% for category, message in messages %}
                {% if category=='error' %}
                    {% set category='danger' %}
                {% endif %}
                <div class="alert alert-{{category}}">{{ message|safe }}</div>
            {% endfor %}
        {% endif %}
    {%- endwith %}
{% endblock %}

{% block body %}{% endblock %}
</main>

</body>
</html>
