<!DOCTYPE html>
<html>
<head>
  <title>urlink: remember ur links</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='overrides.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url_for('home_page') }}">urlink</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse collapse" id="navbar-collapsible">
      <ul class="nav navbar-nav navbar-left">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home_page') }}" title="Home"><span class="glyphicon glyphicon-home"></span></a>
        </li>
        {% if current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('ur_links') }}" title="Ur links!"><span class="glyphicon glyphicon-link"></span></a>
        </li>
        {% endif %}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user.logout') }}">Logout</a>
          </li>
          <li>
            <div class="btn-nav">
              <a href="{{ url_for('add_url') }}" class="btn btn-primary btn-small navbar-btn"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add URL</a>
            </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('user.login') }}">Login</a>
          </li>
          <li>
            <div class="btn-nav">
              <a href="{{ url_for('user.register') }}" class="btn btn-primary btn-small navbar-btn">Register</a>
            </div>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>


<main class="container-fluid">
{% block body %}{% endblock %}
</main>

<footer class="container-fluid">
  <p><a href="https://github.com/lily-seabreeze/urlink">
  urlink GitHub repo</a>; software by
  <a href="http://lily.seabreeze.pro/">Lily Seabreeze</a>.</p>
</footer>

</body>
</html>
