{% extends "layout.html" %}
{% block body %}

{% if urls %}
      <form method="get" class="margin-bottom" action="/autocomplete">
        <div class="input-group">
          <input id="search" autofocus placeholder="search your links" class="form-control input-lg" type="text" name="term">
          <span class="input-group-btn input-group-lg">
            <button class="btn btn-default btn-lg" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </form>

    <ul id="url-list" class="list-group">
    {% for url in urls %}
      <li class="list-group-item">
        <h3 id="url-{{ url.id }}" class="list-group-item-heading">
          <a href="{{ url.url }}">{{ url.url }}</a>
        </h3>
        <p>{{ url.description }}</p>
      </li>
    {% endfor %}
    </ul>
    <script>
      $("#search").keyup(function(){
        var suggestUri = '/autocomplete?term=' + encodeURIComponent($("#search").val());

        $.getJSON(suggestUri, function (json) {
          // first empty the url list
          $("#url-list").empty();

          // now we insert each url list item from
          // the JSON results
          $(json).each(function(index, item) {
            // first we create an item, so we can later add its contents,
            // finally appending to the list.
            var newItem = $(document.createElement('li')).addClass("list-group-item");

            // the heading, which is also the actual URL/link
            newItem.append("<h3 class='list-group-item-heading'><a href='" + item.url + "'>" + item.url + "</a></h3>");

            // add description
            newItem.append("<p>" + item.description + "</p>");

            // ... finally add it to the url list
            $("#url-list").append(newItem);
          });
        });

      });
    </script>
{% else %}
    <h2>No URLs!</h2>
    <p>You have no urls!</p>
{% endif %}

{% endblock %}
